[submodule "libs/classy"]
	path = libs/classy
	url = https://github.com/jamuspsi/classy.git
[submodule "libs/underscore"]
	path = libs/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "libs/icejs"]
	path = libs/icejs
	url = https://github.com/jamuspsi/icejs.git


