[submodule "libs/classy"]
	path = libs/classy
	url = git@github.com:jamuspsi/classy
[submodule "libs/underscore"]
	path = libs/underscore
	url = git@github.com:documentcloud/underscore
[submodule "libs/icejs"]
	path = libs/icejs
	url = git@github.com:jamuspsi/icejs

